.main {
  text-align: center;
}

.list {
  display: flex !important;
  justify-content: center;
  margin: 50px 0 !important;
}

.icon {
  font-size: 40px;
  display: block;
}

.on {
  composes: icon;
  color: #4bab4b !important;
}

.off {
  composes: icon;
  color: rgb(222, 50, 38) !important;
}
