.logo {
  min-width: 320px;
  display: inline-block;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px #ddd;
  border-radius: 2px;
}

.img {
  height: 80px;
  float: left;
  margin: 0 12px 0 15px;
}

.title {
  color: #000;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 10px;
  font-size: 25px;
}

.subtitle {
  color: #333;
  font-size: 15px;
  line-height: 15px;
  margin: 0
}